body{
    background: rgb(121, 121, 203);

}

html *  {
    font-family: 'Oswald', sans-serif;
}

/**
*   Year
*/

.intro{

}

.year--input{
    position: absolute;
    font-size: 200px;
    width: 100%;
    background: transparent;
    text-align: center;
    outline: none;
    border: none;
    top: 230px;
    color: white;
    left:0;
    z-index: 10;
}

.year--control {
    z-index: 20;
    background: none;
    outline: none;
    border:none;
    font-size: 64px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.year--control:hover{
    color: rgb(119, 119, 123)
}

.year--control.up{
    top: 175px;
    width: 100%;
    text-align: center;
}

.year--control.down{
    top: 480px;
    width: 100%;
    text-align: center;
}

.year--nav{
    position: absolute;
    top: 600px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 34px;
}

.year--nav > i{
    padding-right: 8px;
}

/**
* States
*/

.state{
    display: inline-flex;
    height: 100%;
    width: 100%;
}

svg{
    padding-top: 2%;
    margin: auto;
}

svg > path {
    cursor: pointer;
    stroke-width: 1;
    stroke: black;
    fill: gray;
}

svg > path:hover {
    fill: #fce57e;
}

/**
*   Listing
*/

img.loading{
    display: block;
    margin: 0 auto;
}

.listing{
    text-align: center;
    font-size: 32px;
}

.listing--year{
    font-weight: 600;
    font-size: 77px;
    color: white;
}

.listing-item{
    background: black;
    color: white;
    padding: 12px;
    margin: 8px 0;
    cursor: pointer;
    border: 2px solid gray;
    box-shadow: 2px 2px gray;
    z-index: 10;
}

.listing-item--count{
    position: absolute;
    right: 30px;
}


.listing-item--content > img{
    width: 100%;
    padding-top: 12px;
}

.listing-item--content > p {
    text-align: left;
    font-size: 24px;
}

.listing-item--no-content > p {
    font-size: 26px;
    text-align: center;
}

.listing--control {
    background: none;
    outline: none;
    border:none;
    color: black;
    font-size:32px;
    cursor: pointer;
    z-index: 20;
    display: inline-block;
}

.listing--control:hover {
    color: rgb(119, 119, 123);
}

.fa.fa-home {
    font-size:2.3em;
    right:13px;
    top:107px;
    position: absolute;
    color:black;
    display:inline;
}

.fa.fa-home:hover {
    color: rgb(119, 119, 123)
}


/*
* Slider
*/

.slider-container{
    display: inline;
  top: -7px;
  position: relative;

}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
