body{
    background: rgb(121, 121, 203);

}

html *  {
    font-family: 'Oswald', sans-serif;
}

/**
*   Year
*/

.intro{

}

.year--input{
    position: absolute;
    font-size: 200px;
    width: 100%;
    background: transparent;
    text-align: center;
    outline: none;
    border: none;
    top: 230px;
    color: white;
    left:0;
    z-index: 10;
}

.year--control {
    z-index: 20;
    background: none;
    outline: none;
    border:none;
    font-size: 64px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.year--control:hover{
    color: rgb(119, 119, 123)
}

.year--control.up{
    top: 175px;
    width: 100%;
    text-align: center;
}

.year--control.down{
    top: 480px;
    width: 100%;
    text-align: center;
}

/**
* States
*/
